{% comment %}
  {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">
        {% if collection.image != blank or collection.products.first != blank %}
          {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
          {%
            include 'responsive-image' with
            image: image_object,
            max_width: 480,
            max_height: 480
          %}
        {% else %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
        {% endif %}
      </a>

      <p>
        <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">
          {{- collection.title -}}
        </a>
      </p>
    {% endunless %}
  {% endfor %}
{% endcomment %}

<style>
    .collection-card-border {
      border: 1px solid #f2f2f2;
  }
</style>

<div class="container mx-auto">
  <h1 class="text-5xl">{{ page_title }}</h1>
  <div class="grid grid-cols-4 gap-8 mt-4">
    {% for collection in collections %}
      <div class="card bg-base-100 shadow-md collection-card-border">
        {% if collection.image != blank or collection.products.first != blank %}
          <figure>
            <img src="{{ collection.image | image_url }}" alt="Shoes">
          </figure>
        {% else %}
          <figure>
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </figure>
        {% endif %}

        <div class="card-body">
          <h2 class="card-title">
            <a href="{{ collection.url }}" class="text-center">{{ collection.title }}</a>
          </h2>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
